.contact-form{
    width: 33rem;
    padding-top:1rem;
    padding-left: 1rem;
    display: none;
    border: 1px solid black;
    box-shadow: rgba(13, 26, 31, 0.12) 3px 3px 3px 3px, rgba(14, 30, 37, 0.32) 3px 3px 16px 3px;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.show{
    display: block;
}
.hide{
    display: none;
}
.contact{
    display: flex;
}
.name{
    font-size: 0.8rem;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight:900;
    color: black;
    font-family: 'Hind', sans-serif;
}
.input-name{
    width: 23.6rem;
    height: 2rem;
    border: 1px solid black;
    margin-bottom: 0.7rem
}
.form-email{
    font-size: 0.8rem;
    margin-bottom: 0px;
    font-weight: 900;
    color: black;
    font-family: 'Hind', sans-serif;
}
.input-email{
    width: 23.6rem;
    margin-top: 0px;
    height: 2rem;
    margin-bottom: 0.7rem;
    border: 1px solid black;
}
#mobileNumber{
    font-size: 0.8rem;
    margin-bottom: 0px;
    font-weight: 900;
    color: black;
    font-family: 'Hind', sans-serif;
}
.input-mobile{
    height: 2rem;
    width: 10.5rem;
    border: 1px solid black;
    margin-bottom: 0.7rem;
}
.landline-number-text{
    margin-left: 2rem;
}
#landlineNumber{
    font-size: 0.8rem;
    margin-bottom: 0px;
    font-weight: 900;
    font-family: 'Hind', sans-serif;
}
.input-landline{
    height: 2rem;
    width: 11rem;
    margin-bottom: 0.7rem;
    border: 1px solid black;
}
#personWebsite{
    font-size: 0.8rem;
    margin-bottom: 0px;
    font-weight: 900;
    margin-bottom: 0.4rem;
    font-family: 'Hind', sans-serif;
}
.input-website{
    width: 23.6rem;
    height: 2rem;
    margin-bottom: 0.7rem;
    border: 1px solid black;
}
.input-address{
    display: block;
    border: 1px solid black;
    width: 23.5rem;
    height: 8rem;
}
.border-color{
    border-color: red;
}
#address{
    font-size: 0.8rem;
    margin-bottom: 0px;
    font-weight: 900;
    font-family: 'Hind', sans-serif;
}
.second-containe{
    display: flex;
}
.button-container{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.cancle-form-btn{
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    background-color:rgb(46, 130, 3) ;
    color: white;
    padding-left: 2rem;
    width: 6.5rem;
    padding-top: 8px;
    height: 2rem;
    margin-left: 15rem;
    
}
.form-submit-button{
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    margin-left: 2rem;
    padding-top: 8px;
    padding-left: 2.4rem;
    background-color: rgb(46, 130, 3);
    width: 6.5rem;
    color: white;
    height: 2rem;
}
.form-edit-button{
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    margin-left: 2rem;
    padding-top: 8px;
    padding-left: 2.4rem;
    background-color: rgb(46, 130, 3);
    width: 6.5rem;
    color: white;
    height: 2rem;
}
