.header-section {
  background-color: rgb(37, 150, 198);
  width: 100%;
  height: 8em;
}
.header-content {
  position: absolute;
  font-size: 350%;
  font-weight: 200;
  color: white;
  margin-left: 1.25rem;
  margin-top: 2rem;
  letter-spacing: 2px;
  font-family: 'Hind', sans-serif;
}
.boundary:hover{
  background-color: rgb(217, 240, 247);
}

.bar {
  width: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

ul.bar {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  list-style-type: none;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
  background-color: #333;
  height: 5.1vh;
}

li {
  float: left;
}

li a {
  font-weight: 700;
  color: white;
  text-align: center;
  padding: 16px 10px;
  padding-right: 20px;
  font-size: 2.6vh;
  text-decoration: none;
  line-height: 4.5vh;
  vertical-align: middle;
  padding-left: 16px;
}

li.bar-element {
  padding-top: 4px;
}

li.icon {
  float: right;
  margin-right: 2%;
  padding-top: 6px;
}
.border-color{
  border-color: red;
}

.contact-container {
  display: flex;
}

.people-queue {
  margin-top: 10px;
  height: 55vh;
  width: 30%;
}
.delete-image{
  margin-bottom: 0.7rem;
}
.contact-heading {
  font-family: 'Gill Sans', 
  'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #333;
  margin-top: 1rem;

}
.no-contacts-heading{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 1.5rem;
  color: #333;
  margin-top: 1rem;
}

.people-queue {
  margin-left: 1.25rem;
  color: #333;
}

.first-person {
  height: 25%;
}

.first-person-name {
  height: 2.5rem;
  font-family: 'Hind', sans-serif;
  margin-left: 1rem;
  padding-top: 2px;
  margin-bottom: 0px;
  font-weight: 100;
  font-size: 2rem;
}

.first-person-email {
  font-family: 'Hind', sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-left: 1rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.first-person-number {
  font-family: 'Hind', sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-left: 1rem;
  margin-top: 0px;
  margin-bottom: 6px;
}
.boundary{
  border: 1px solid rgb(155, 152, 152);
  border-top: 0px;
}
.top-border{
  border-top: 1px solid rgb(155, 152, 152);
  display: none;
}

.info-section {
  margin-left: 3rem;
  font-family: 'Hind', sans-serif;
  width: 35%;
  margin-top: 1.5rem;
  padding-top: 1rem;
}
.person-name {
  display: inline;
  font-family: 'Hind', sans-serif;
  letter-spacing: 1.25px;
  font-size: 1.8rem;
  
  color: #333;
  height: 2rem;
  font-weight: 600;
}

.icons {
  float: right;
  margin-top: 8px;
}

.edit {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 1.25rem;
}

.delete {
  padding-bottom: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.person-details{
  padding-left: 3rem;
  padding-top: 1rem;
}

.email {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  text-shadow: 0.3px 0.3px black;
  color: #333;

}

.phone {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 0.95rem;
  margin-top: 0px;
  text-shadow: 0.3px 0.3px black;
  color: #333;
  height: 1.2rem;
}

.landline {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 0.95rem;
  text-shadow: 0.3px 0.3px black;
  color: #333;
  margin-bottom: 0.8rem;
}

.website {
  font-size: 0.95rem;
  margin-top: 1.2rem;
  text-shadow: 0.3px 0.3px black;
  color: #333;
}

.address {
  margin-top: 1.2rem;
  font-size: 0.95rem;
  text-shadow: 0.3px 0.3px black;
  color: #333;
}

.person-address {
  width: 50%;
}
.blue{
  background-color: rgb(216, 232, 245);
}
.red{
  color: red;
}